.body1{

    background-image: url(./images/mountain-tree-cloud-nature.jpg);
    background-size:2000px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
    #navbar{
        display: flex;
        font-size: xx-large;
        justify-content: space-between;
        color: white;
        
        
        
    }
#Frontpage{


    text-align: center;
    font-size: xx-large;
    color: white;
    margin-top: 10%;
} 



..textImg{
    display: flex;
}
body{
    background-color: #0b1d26;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 20%;
    align-content: center;

}
  
  /* Create four equal columns */
.column {
    flex: 25%;
    padding: 20px;
    font-size: larger;
    margin-bottom: 10%;
    align-items: center;

    
}

button{
    color: #fbd784;
    background-color: #0b1d26;
}
h1{
    font-family: sans-serif;
}

#keyText{
    margin-top: 50%;
    margin-left: 5%;
    font-size: large;
    
}
.image{
    margin-top: 25%;
    margin-left: 20%;

}
h1{
    font-size: 50px;
}

p{
    font-family: sans-serif;
}

.susan{
    background-color: #0b1d26;
    position: relative;
    line-height: 1.4;
    
    
}

p{
    color: aliceblue;
}
h2{
    margin-top: 0px;
    margin-bottom: 24px;
    color: aliceblue;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 110%;
    font-size: 64px;
    font-weight: 600px;
}
#hike{
    color: khaki;
    letter-spacing: 5px;
}
#form{
    display: flex;
    margin: 300px;
    vertical-align: baseline;
    
}

#content{
    margin: auto;
    word-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Sans Serif', Arial, sans-serif;
    line-height: 32px;
    /* line-height: 1.3; */
    
}
body{
    background-color: #0b1d26; 
    min-height: 100%
    
}
.read{
    color: khaki;
}

#Nature{
    border: none;
    background-color: #0b1d26;
    display: flex;
    margin-left: auto;
    margin-right:200px;
    padding-left: 20%;
    text-align: center;
    line-height: 32px;
      

    
    
}
body{
    background-color: #0b1d26;
}

.Image{
    align-content: center;
    margin-bottom: 10%;
    padding: 20px;
    padding-right: 20px;

}
.Molly{
   
    border: none;
 font-family: 'Sans Serif', Arial, sans-serif;
    font-weight: 500;
    padding-right: 20%;
    margin: auto;
    word-spacing: 1px;
    font-size: 16px;
    line-height: 32px;
      
   
}
h1{
    font-size: 64px;
    line-height: 110%;
    
}
p{
    color: white;
}

#glado{
    background-color: #0b1d26;
    color: white;
    display: flex;
    gap: 5%;
    justify-content: space-between;
}
h1{
    color:khaki;
}
.title{
    color: white;
}
.space{
line-height: 1.8;
}
.end{
    line-height: 1.6;
}
.copy{
    color:#858E93;
}